* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

li {
  list-style: none;
}

#header-top a {
  text-decoration: none;
}

#header-top a:hover {
  text-decoration: none;
}

ul {
  margin: 0 0;
}

p {
  margin: 0 0;
}

input {
  outline: none;
  border: none;
}

a:hover {
  text-decoration: none;
}

header #header-top {
  border-bottom: 1px solid #DEDFE2;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #header-top .header-left a {
  font-size: 13px;
  color: #7E7E7E;
  font-weight: 400;
  width: 33%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header #header-top .header-left a:hover {
  color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header #header-top .header-left .a-after {
  position: relative;
}

header #header-top .header-left .a-after::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background: #dedfe2;
}

header #header-top .header-left ul {
  margin-bottom: 0;
}

header #header-top .header-left ul li {
  margin-left: 16px;
}

header #header-top .header-center {
  height: 1.3rem;
  width: 33%;
  text-align: center;
}

header #header-top .header-center div {
  color: #7E7E7E;
}

header #header-top .header-right {
  height: 0;
  margin-right: 15px;
}

header #header-top .header-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #header-top .header-right ul .a-after {
  position: relative;
}

header #header-top .header-right ul .a-after::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background: #dedfe2;
}

header #header-top .header-right ul li {
  color: #7E7E7E;
  font-size: 13px;
  position: relative;
  margin-left: 15px;
}

header #header-top .header-right ul li .span-num {
  color: #3BB77E;
  font-weight: 700;
}

header #header-top .header-right .language-dropdown-active .lang-a {
  color: #7E7E7E;
  font-weight: 400;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header #header-top .header-right .language-dropdown-active .lang-a:hover {
  color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header #header-top .header-right .language-dropdown-active:hover .dropdown {
  visibility: visible;
  opacity: 1;
  top: 10px;
}

header #header-top .header-right .dropdown {
  position: absolute;
  top: 30px;
  right: -10px;
  width: 110px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #ececec;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header #header-top .header-right .dropdown li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 3px;
}

header #header-top .header-right .dropdown li a img {
  width: 15px;
}

header #header-top .header-right .dropdown li a span {
  font-size: 13px;
  color: #253d4e;
  margin-left: 5px;
}

header #header-top .header-right .dropdown li:before {
  width: 0px;
}

#header-bottom {
  padding: 1.6rem 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header-bottom .header-center .search {
  border: 2px solid #BCE3C9;
  border-radius: 4px;
  padding: 0.8rem 1rem;
  width: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-bottom .header-center .search span {
  position: relative;
  font-size: 14px;
  font-weight: 600;
}

#header-bottom .header-center .search span::after {
  content: '';
  height: 20px;
  width: 1px;
  background-color: #CACACA;
  position: absolute;
  right: -15px;
  top: 2px;
}

#header-bottom .header-center .search span i {
  margin-left: 6px;
  color: #7E7E7E;
  font-size: 13px;
}

#header-bottom .header-center .search span a {
  color: black;
}

#header-bottom .header-center .search span a:hover {
  text-decoration: none;
}

#header-bottom .header-center .search i {
  color: #838383;
  font-size: 20px;
}

#header-bottom .header-center .search input {
  border: none;
  margin-left: 25px;
  width: 30rem;
  font-size: 14px;
}

#header-bottom .header-center .search input:focus {
  outline: 0;
}

#header-bottom .header-center .search input::-webkit-input-placeholder {
  font-weight: 500;
}

#header-bottom .header-center .search input:-ms-input-placeholder {
  font-weight: 500;
}

#header-bottom .header-center .search input::-ms-input-placeholder {
  font-weight: 500;
}

#header-bottom .header-center .search input::placeholder {
  font-weight: 500;
}

#header-bottom .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#header-bottom .actions .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}

#header-bottom .actions .action.cart-action:hover .cart {
  opacity: 1;
  visibility: visible;
  top: 140%;
}

#header-bottom .actions .action.acc-action:hover .account-dropdown {
  opacity: 1;
  visibility: visible;
  top: 140%;
}

#header-bottom .actions .action .icon {
  position: relative;
}

#header-bottom .actions .action .icon span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  right: -11px;
  border-radius: 50%;
  z-index: 1;
  background-color: #3BB77E;
  color: #fff;
  font-size: 12px;
}

#header-bottom .actions .action .text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 12px;
}

#header-bottom .actions .action .text p {
  margin: 0;
  color: #7E7E7E;
}

#header-bottom .actions .action .cart {
  z-index: 999;
  position: absolute;
  top: 160%;
  left: -350%;
  background-color: #fff;
  padding: 30px 20px 27px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid #ececec;
  width: 320px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#header-bottom .actions .action .cart ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px;
}

#header-bottom .actions .action .cart ul li img {
  width: 80px;
}

#header-bottom .actions .action .cart ul li .description {
  font-family: 'Quicksand', sans-serif;
}

#header-bottom .actions .action .cart ul li .description .name {
  color: #3BB77E;
}

#header-bottom .actions .action .cart ul li .description .price {
  font-weight: 500;
  line-height: 1;
  margin: 0 0 9px;
}

#header-bottom .actions .action .cart ul li i {
  color: #696969;
}

#header-bottom .actions .action .cart .cart-footer .total {
  border-top: 2px solid #f3f3f3;
  margin: 25px 0;
  padding: 17px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
}

#header-bottom .actions .action .cart .cart-footer .total .text {
  color: #9b9b9b;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

#header-bottom .actions .action .cart .cart-footer .total .price {
  margin: 0;
  font-size: 18px;
  color: #3BB77E;
  font-weight: bold;
}

#header-bottom .actions .action .cart .cart-footer .buttons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
}

#header-bottom .actions .action .cart .cart-footer .buttons .btn-cart {
  outline: none;
  background-color: transparent;
  border: 2px solid #3BB77E;
  color: #3BB77E;
  font-size: 14px;
  border-radius: 4px;
  padding: 10px 20px;
  line-height: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#header-bottom .actions .action .cart .cart-footer .buttons .btn-cart:hover {
  background-color: #FDC040;
  color: #fff;
}

#header-bottom .actions .action .cart .cart-footer .buttons .btn-checkout {
  outline: none;
  font-size: 14px;
  color: #ffffff;
  border-radius: 4px;
  line-height: 1;
  padding: 10px 20px;
  background-color: #3BB77E;
  border: 2px solid #3BB77E;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#header-bottom .actions .action .cart .cart-footer .buttons .btn-checkout:hover {
  background-color: #FDC040;
}

#header-bottom .actions .action .account-dropdown {
  z-index: 999;
  position: absolute;
  top: 160%;
  left: -100%;
  background-color: #fff;
  padding: 30px 20px 27px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid #ececec;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#header-bottom .actions .action .account-dropdown ul li {
  color: #253D4E;
  cursor: pointer;
  font-size: 14px;
}

#header-bottom .actions .action .account-dropdown ul li i {
  margin-right: 10px;
}

#header-bottom .actions .action .account-dropdown ul li:not(:last-child) {
  margin: 0 0 20px;
}

#navbar {
  background-color: #fff;
  border-top: 1px solid #e9e7e7;
  border-bottom: 1px solid #e9e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  position: relative;
  z-index: 888;
}

#navbar .navbar-left .navbar-trending {
  background-color: #3BB77E;
  cursor: pointer;
  text-align: center;
  color: #fff;
  padding: 10px 2rem;
  border-radius: 5px;
}

#navbar .navbar-left .navbar-trending span {
  font-weight: 700;
}

#navbar .navbar-center .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .navbar-center .navigation a {
  margin: 0 20px;
  font-size: 17px;
  color: #000;
  font-weight: 500;
}

#navbar .navbar-center .navigation a:hover {
  text-decoration: none;
}

#navbar .navbar-center .navigation li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar .navbar-center .navigation li i {
  margin-left: 4px;
  font-size: 13px;
}

#navbar .navbar-center .navigation li a {
  padding: 1.4rem 0;
}

#navbar .navbar-center .navigation .deals {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#navbar .navbar-center .navigation .deals:hover a {
  color: #29A56C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#navbar .navbar-center .navigation .home {
  position: relative;
}

#navbar .navbar-center .navigation .home a {
  color: #29A56C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#navbar .navbar-center .navigation .home:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

#navbar .navbar-center .navigation .home .sub-menu {
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #ffffff;
  width: 15rem;
  padding: 25px 15px;
  -webkit-transition: all .25s ease 0s;
  transition: all .25s ease 0s;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #ececec;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

#navbar .navbar-center .navigation .home .sub-menu li {
  display: block;
  margin-bottom: 12px;
}

#navbar .navbar-center .navigation .home .sub-menu li a {
  color: #7E7E7E;
  font-size: 14px;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .navbar-center .navigation .home .sub-menu li a:hover {
  color: #3BB77E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .navbar-center .navigation .about {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#navbar .navbar-center .navigation .about:hover a {
  color: #29A56C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#navbar .navbar-center .navigation .shop {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

#navbar .navbar-center .navigation .shop:hover a {
  color: #29A56C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#navbar .navbar-center .navigation .shop:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

#navbar .navbar-center .navigation .shop .sub-menu {
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #ffffff;
  width: 15rem;
  padding: 25px 15px;
  -webkit-transition: all .25s ease 0s;
  transition: all .25s ease 0s;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #ececec;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

#navbar .navbar-center .navigation .shop .sub-menu li {
  display: block;
  margin-bottom: 12px;
}

#navbar .navbar-center .navigation .shop .sub-menu li a {
  color: #7E7E7E;
  font-size: 14px;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .navbar-center .navigation .shop .sub-menu li a:hover {
  color: #3BB77E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .navbar-center .navigation .vendors {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

#navbar .navbar-center .navigation .vendors:hover a {
  color: #29A56C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#navbar .navbar-center .navigation .vendors:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

#navbar .navbar-center .navigation .vendors .sub-menu {
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #ffffff;
  width: 15rem;
  padding: 25px 15px;
  -webkit-transition: all .25s ease 0s;
  transition: all .25s ease 0s;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #ececec;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

#navbar .navbar-center .navigation .vendors .sub-menu li {
  display: block;
  margin-bottom: 12px;
}

#navbar .navbar-center .navigation .vendors .sub-menu li a {
  color: #7E7E7E;
  font-size: 14px;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .navbar-center .navigation .vendors .sub-menu li a:hover {
  color: #3BB77E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .navbar-center .navigation .blog {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

#navbar .navbar-center .navigation .blog:hover a {
  color: #29A56C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#navbar .navbar-center .navigation .blog:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

#navbar .navbar-center .navigation .blog .sub-menu {
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #ffffff;
  width: 15rem;
  padding: 25px 15px;
  -webkit-transition: all .25s ease 0s;
  transition: all .25s ease 0s;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #ececec;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

#navbar .navbar-center .navigation .blog .sub-menu li {
  display: block;
  margin-bottom: 12px;
}

#navbar .navbar-center .navigation .blog .sub-menu li a {
  color: #7E7E7E;
  font-size: 14px;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .navbar-center .navigation .blog .sub-menu li a:hover {
  color: #3BB77E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .navbar-center .navigation .pages {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

#navbar .navbar-center .navigation .pages:hover a {
  color: #29A56C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#navbar .navbar-center .navigation .pages:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

#navbar .navbar-center .navigation .pages .sub-menu {
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #ffffff;
  width: 15rem;
  padding: 25px 15px;
  -webkit-transition: all .25s ease 0s;
  transition: all .25s ease 0s;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #ececec;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

#navbar .navbar-center .navigation .pages .sub-menu li {
  display: block;
  margin-bottom: 12px;
}

#navbar .navbar-center .navigation .pages .sub-menu li a {
  color: #7E7E7E;
  font-size: 14px;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .navbar-center .navigation .pages .sub-menu li a:hover {
  color: #3BB77E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .navbar-center .navigation .mega {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: static;
}

#navbar .navbar-center .navigation .mega:hover a {
  color: #29A56C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#navbar .navbar-center .navigation .mega:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  top: 50px;
}

#navbar .navbar-center .navigation .mega .mega-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 1.5%;
  top: 60px;
  background-color: #ffffff;
  padding: 35px 25px 35px 35px;
  -webkit-transition: all .25s ease 0s;
  transition: all .25s ease 0s;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #ececec;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  width: 97%;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-22 {
  width: 22%;
  display: block;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-22 .menu-title {
  font-size: 19px;
  font-weight: 700;
  display: block;
  margin: 0;
  padding: 0;
  color: #3BB77E;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-22 .menu-title:hover {
  color: #ffd55a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-22 ul {
  margin-top: 18px;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-22 ul li a {
  color: #7E7E7E;
  padding: 0 0;
  margin: 5px 0;
  -webkit-transition: 0.2;
  transition: 0.2;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-22 ul li a:hover {
  color: #3BB77E;
  -webkit-transition: 0.2;
  transition: 0.2;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-34 .menu-banner {
  position: relative;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-34 .menu-banner:hover .menu-banner-content .menu-banner-btn {
  background-color: #FD6E6E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-34 .menu-banner a {
  display: block;
  padding: 0;
  margin: 0;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-34 .menu-banner .menu-banner-content {
  position: absolute;
  top: 35px;
  left: 50px;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-34 .menu-banner .menu-banner-content .price {
  font-size: 24px;
  font-weight: 700;
  color: #3BB77E;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-34 .menu-banner .menu-banner-content a {
  margin: 0;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-34 .menu-banner .menu-banner-content h4 {
  font-size: 18px;
  font-weight: 400;
  color: #253D4E;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-34 .menu-banner .menu-banner-content h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin: 5px 0 11px;
  color: #000;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-34 .menu-banner .menu-banner-content .menu-banner-btn {
  background-color: #3BB77E;
  margin-top: 15px;
  border-radius: 50px;
  padding: 10px 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
  color: #fff;
  font-weight: 500;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-34 .menu-banner .menu-banner-discount {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffd55a;
  position: absolute;
  top: 13%;
  right: 10%;
  text-align: center;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-34 .menu-banner .menu-banner-discount h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  margin-top: 15px;
}

#navbar .navbar-center .navigation .mega .mega-menu .mega-menu-width-34 .menu-banner .menu-banner-discount h4 {
  font-size: 20px;
}

#navbar .navbar-center .navigation .contact {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#navbar .navbar-center .navigation .contact:hover a {
  color: #29A56C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#navbar .navbar-right {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar .navbar-right p {
  font-size: 25px;
  color: #29A56C;
  font-weight: bold;
  line-height: 1.4;
}

#navbar .navbar-right p span {
  font-size: 13px;
  display: block;
  line-height: 0;
  color: #7E7E7E;
  font-weight: 500;
}

#navbar .navbar-right img {
  margin-right: 10px;
  margin-top: 7px;
}

#bread .bread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e9e7e7;
  padding: 1.5rem;
}

#bread .bread a {
  margin-right: 2px;
  color: #29A56C;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#bread .bread a i {
  margin-right: 5px;
}

#bread .bread a:hover {
  color: #ffd55a;
}

#bread .bread p {
  color: #838383;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bread .bread p i {
  font-size: 10px;
  margin: 0 10px;
  margin-top: 10px;
}

#product .product-all {
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#product .product-all .product-left {
  width: 75%;
}

#product .product-all .product-left .left-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#product .product-all .product-left .left-top .img {
  width: 50%;
  position: relative;
}

#product .product-all .product-left .left-top .img img {
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 15px;
}

#product .product-all .product-left .left-top .img i {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #9b9b9b;
}

#product .product-all .product-left .left-top .img .carousel-product:hover .slick-prev {
  z-index: 999;
  left: -5px;
}

#product .product-all .product-left .left-top .img .carousel-product:hover .slick-prev::before {
  font-family: FontAwesome;
  content: '\f177';
  font-size: 20px;
  color: #F2F3F4;
  opacity: 1;
  background-color: #F2F3F4;
  padding: 10px 10px;
  border-radius: 50%;
  color: #29A56C;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#product .product-all .product-left .left-top .img .carousel-product:hover .slick-prev:hover::before {
  font-family: FontAwesome;
  content: '\f177';
  font-size: 20px;
  color: #F2F3F4;
  opacity: 1;
  background-color: #29A56C;
  padding: 10px 10px;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#product .product-all .product-left .left-top .img .carousel-product:hover .slick-next {
  z-index: 999;
  right: 15px;
}

#product .product-all .product-left .left-top .img .carousel-product:hover .slick-next::before {
  font-family: FontAwesome;
  content: '\f178';
  font-size: 20px;
  color: #F2F3F4;
  opacity: 1;
  background-color: #F2F3F4;
  padding: 10px 10px;
  border-radius: 50%;
  color: #29A56C;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#product .product-all .product-left .left-top .img .carousel-product:hover .slick-next:hover::before {
  font-family: FontAwesome;
  content: '\f178';
  font-size: 20px;
  color: #F2F3F4;
  opacity: 1;
  background-color: #29A56C;
  padding: 10px 10px;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#product .product-all .product-left .left-top .img .carousel-product div img {
  width: 100%;
  padding: 30px 15px;
  border: 0;
}

#product .product-all .product-left .left-top .product-content {
  margin-left: 40px;
  width: 50%;
  font-family: 'Fredoka', sans-serif;
  padding-right: 40px;
}

#product .product-all .product-left .left-top .product-content .sale {
  color: #F74B8E;
  background-color: #FDE0E9;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
}

#product .product-all .product-left .left-top .product-content h1 {
  margin-top: 25px;
  font-size: 45px;
  color: #253d4e;
  font-weight: 600;
}

#product .product-all .product-left .left-top .product-content .star {
  width: 100%;
}

#product .product-all .product-left .left-top .product-content .star i {
  color: #FDC040;
  font-size: 11px;
}

#product .product-all .product-left .left-top .product-content .star span {
  color: #7E7E7E;
}

#product .product-all .product-left .left-top .product-content .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

#product .product-all .product-left .left-top .product-content .price h1 {
  margin: 0;
  margin-right: 15px;
  color: #29A56C;
}

#product .product-all .product-left .left-top .product-content .price span {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: #FDC040;
  line-height: 1;
}

#product .product-all .product-left .left-top .product-content .price span p {
  font-size: 30px;
  text-decoration: line-through;
  color: #B6B6B6;
  line-height: 1.2;
  margin: 0;
}

#product .product-all .product-left .left-top .product-content .lorem {
  margin-top: 20px;
  font-size: 18px;
  color: #838383;
}

#product .product-all .product-left .left-top .product-content .size {
  color: #7E7E7E;
  margin-top: 30px;
}

#product .product-all .product-left .left-top .product-content .size span {
  padding: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 5px;
  cursor: pointer;
}

#product .product-all .product-left .left-top .product-content .size span:hover {
  background-color: #3BB77E;
  color: #fff;
}

#product .product-all .product-left .left-top .product-content .size .green {
  background-color: #3BB77E;
  color: #fff;
}

#product .product-all .product-left .left-top .product-content .add-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

#product .product-all .product-left .left-top .product-content .add-cart .count {
  border: 2px solid #29A56C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 2rem;
  width: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

#product .product-all .product-left .left-top .product-content .add-cart .count span {
  margin-right: 30px;
  color: #29A56C;
}

#product .product-all .product-left .left-top .product-content .add-cart .count .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #29A56C;
  cursor: pointer;
}

#product .product-all .product-left .left-top .product-content .add-cart a {
  background-color: #3BB77E;
  color: #fff;
  padding: 11px 23px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#product .product-all .product-left .left-top .product-content .add-cart a i {
  margin-right: 10px;
}

#product .product-all .product-left .left-top .product-content .add-cart a:hover {
  background-color: #29A56C;
}

#product .product-all .product-left .left-top .product-content .add-cart .icon-right {
  margin-left: 10px;
}

#product .product-all .product-left .left-top .product-content .add-cart .icon-right i {
  padding: 15px;
  border: 1px solid #dfdfdf;
  color: #838383;
  border-radius: 5px;
  margin-right: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#product .product-all .product-left .left-top .product-content .add-cart .icon-right i:hover {
  background-color: #29A56C;
  color: #fff;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#product .product-all .product-left .left-top .product-content .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

#product .product-all .product-left .left-top .product-content .type .left {
  margin-right: 50px;
}

#product .product-all .product-left .left-top .product-content .type p {
  font-size: 14px;
  color: #838383;
}

#product .product-all .product-left .left-top .product-content .type p span {
  color: #29A56C;
}

#product .product-all .product-left .left-top .product-content .type p a {
  color: #29A56C;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#product .product-all .product-left .left-top .product-content .type p a:hover {
  color: #FDC040;
}

#product .product-all .product-left .product-info-tab-menu {
  border: 1px solid #EDE7E7;
  border-radius: 15px;
  padding: 2rem 3rem;
  font-family: 'Fredoka', sans-serif;
}

#product .product-all .product-left .product-info-tab-menu .tab {
  overflow: hidden;
  padding: 1rem 0;
}

#product .product-all .product-left .product-info-tab-menu .tab button {
  background-color: inherit;
  float: left;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 15px;
  margin-left: 10px;
  display: block;
  padding: 13px 24px !important;
  text-align: center;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  text-transform: none;
  border-radius: 30px;
  border: 1px solid #ececec;
  background: #fff;
  color: #7E7E7E;
}

#product .product-all .product-left .product-info-tab-menu .tab button:hover {
  color: #3BB77E;
  -webkit-box-shadow: 5px 5px 15px #ececec;
          box-shadow: 5px 5px 15px #ececec;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#product .product-all .product-left .product-info-tab-menu .tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent table {
  border: 1px solid #ececec;
  padding: 10px;
  width: 100%;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent table th {
  border: 1px solid #ececec;
  padding: 10px;
  color: #7E7E7E;
  font-weight: 500;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent table td {
  border: 1px solid #ececec;
  padding: 10px;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent ul {
  margin-top: 30px;
  padding: 0 0 0px 14px;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent ul .li-before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px;
  position: relative;
  opacity: 0.7;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent ul .li-before::before {
  position: absolute;
  left: -14px;
  top: 9px;
  content: "";
  height: 6px;
  width: 6px;
  border-radius: 100%;
  background-color: #9b9b9b;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent ul .li-before span {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 165px;
      flex: 0 0 165px;
  display: inline-block;
  opacity: 0.7;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px;
  position: relative;
  opacity: 0.7;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
  color: #7E7E7E;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent h4 {
  font-size: 24px;
  color: #253D4E;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 30px;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .vendor-info .vendor-logo {
  margin-left: 15px;
  width: 8%;
  overflow: hidden;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .vendor-info .vendor-logo img {
  width: 100%;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .vendor-info .vendor-name {
  margin-left: 10px;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .vendor-info .vendor-name h6 {
  font-family: "Quicksand", sans-serif;
  color: #253D4E;
  font-weight: 700;
  line-height: 1.2;
  font-size: 16px;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .vendor-info .vendor-name h6 a {
  text-decoration: none;
  color: #3BB77E;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .vendor-info .vendor-name h6 a:hover {
  color: #FDC040;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .vendor-info .vendor-name i {
  color: #FDC040;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .vendor-info .vendor-name span {
  color: #b6b6b6;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .percents {
  margin-left: 15px;
  text-align: center;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .percents .percent-info p {
  color: #29A56C;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .percents .percent-info h4 {
  margin-top: 15px;
  margin-bottom: 50px;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .comment-list .single-comment .user {
  border: 1px solid #ececec;
  padding: 20px 30px;
  border-radius: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .comment-list .single-comment .user:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .comment-list .single-comment .user:hover a {
  opacity: 1 !important;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .comment-list .single-comment .user .user-image {
  overflow: hidden;
  width: 70%;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .comment-list .single-comment .user .user-image img {
  width: 100%;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .comment-list .single-comment .user .user-image a {
  color: #29A56C;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .comment-list .single-comment .user .user-comment {
  margin-left: 30px;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .comment-list .single-comment .user .user-comment span {
  font-size: 13px;
  color: #B6B6B6;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .comment-list .single-comment .user .user-comment a {
  color: #3BB77E;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .comment-list .single-comment .user .user-comment a:hover {
  color: #FDC040;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .comment-list .single-comment .user .user-comment i {
  color: #FDC040;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .comment-list .single-comment .user-2 {
  width: 95%;
  margin-left: 5%;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .col-lg-4 h6 {
  font-size: 16px;
  color: #253D4E;
  font-weight: 700;
  line-height: 1.2;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .col-lg-4 .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  margin-bottom: 15px;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .col-lg-4 .progress span {
  line-height: 16px;
  background: #fff;
  padding-right: 10px px;
  width: 45px;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .col-lg-4 .progress .progress-bar {
  background-color: #3BB77E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

#product .product-all .product-left .product-info-tab-menu .tabcontent .comments .col-lg-4 .stars i {
  color: #FDC040;
}

#product .product-all .product-left .title {
  border-bottom: 1px solid #dedfe2;
  padding-bottom: 1rem;
  font-size: 23px;
  position: relative;
  font-family: 'Fredoka', sans-serif;
  color: #253d4e;
  font-weight: 600;
  margin-top: 55px;
}

#product .product-all .product-left .title::after {
  content: "";
  width: 80px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #BCE3C9;
}

#product .product-all .product-left .card-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 0;
}

#product .product-all .product-left .card-all .card {
  width: 23%;
  border-radius: 15px;
  margin-top: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 10px;
}

#product .product-all .product-left .card-all .card:hover {
  border: 1px solid #3BB77E;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#product .product-all .product-left .card-all .card:hover .card-top a .card-img {
  display: none;
}

#product .product-all .product-left .card-all .card:hover .card-top a .card-hover-img {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#product .product-all .product-left .card-all .card:hover .card-top .product-action-1 {
  visibility: visible;
  opacity: 1;
}

#product .product-all .product-left .card-all .card .product-action-1 .action-btn i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#product .product-all .product-left .card-all .card .product-action-1 .action-btn:hover i {
  color: #FDC040;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#product .product-all .product-left .card-all .card .card-top {
  position: relative;
}

#product .product-all .product-left .card-all .card .card-top .card-hot {
  position: absolute;
  z-index: 777;
  top: -1px;
  left: 0;
  background-color: #F74B81;
  font-size: 12px;
  line-height: 1;
  border-radius: 15px 0 20px 0;
  color: #fff;
  padding: 9px 20px 10px 20px;
}

#product .product-all .product-left .card-all .card .card-top .card-new {
  position: absolute;
  z-index: 777;
  top: -1px;
  left: 0;
  background-color: #3BB77E;
  font-size: 12px;
  line-height: 1;
  border-radius: 15px 0 20px 0;
  color: #fff;
  padding: 9px 20px 10px 20px;
}

#product .product-all .product-left .card-all .card .card-top .card-12 {
  position: absolute;
  z-index: 777;
  top: -1px;
  left: 0;
  background-color: #67BCEE;
  font-size: 12px;
  line-height: 1;
  border-radius: 15px 0 20px 0;
  color: #fff;
  padding: 9px 20px 10px 20px;
}

#product .product-all .product-left .card-all .card .card-top a {
  overflow: hidden;
}

#product .product-all .product-left .card-all .card .card-top a img {
  width: 100%;
  padding: 25px 25px 0 25px;
}

#product .product-all .product-left .card-all .card .card-top a .card-hover-img {
  display: none;
}

#product .product-all .product-left .card-all .card .card-top .product-action-1 {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #BCE3C9;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  -webkit-box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.07);
          box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.07);
}

#product .product-all .product-left .card-all .card .card-top .product-action-1 .action-btn {
  width: 30px;
  height: 36px;
  line-height: 35px;
  text-align: center;
  position: relative;
  display: inline-block;
  border-right: 1px solid #BCE3C9;
  color: #3BB77E;
}

#product .product-all .product-left .card-all .card .card-bottom {
  padding: 0 1rem 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#product .product-all .product-left .card-all .card .card-bottom .a-2 {
  color: black;
  font-family: 'Fredoka', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#product .product-all .product-left .card-all .card .card-bottom .a-2:hover {
  color: #3BB77E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#product .product-all .product-left .card-all .card .card-bottom .star {
  width: 100%;
}

#product .product-all .product-left .card-all .card .card-bottom .star i {
  color: #FDC040;
  font-size: 11px;
}

#product .product-all .product-left .card-all .card .card-bottom .card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

#product .product-all .product-left .card-all .card .card-bottom .card-price .product-price span {
  font-family: 'Fredoka', sans-serif;
  color: #3BB77E;
  font-size: 19px;
  font-weight: 600;
}

#product .product-all .product-left .card-all .card .card-bottom .card-price .product-price .old-price {
  color: #7E7E7E;
  font-size: 14px;
  text-decoration: line-through;
}

#product .product-all .product-right {
  width: 25%;
}

#product .product-all .product-right .right-boxes {
  padding-left: 20px;
}

#product .product-all .product-right .right-boxes .category {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  border: 1px solid #ececec;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px #0000000d;
          box-shadow: 5px 5px 15px #0000000d;
}

#product .product-all .product-right .right-boxes .category h4 {
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Fredoka', sans-serif;
  color: #253D4E;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

#product .product-all .product-right .right-boxes .category h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 2px;
  background-color: #BCE3C9;
}

#product .product-all .product-right .right-boxes .category li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #F2F3F4;
  padding: 9px 18px;
  margin: 0 0 15px 0;
}

#product .product-all .product-right .right-boxes .category li a {
  color: #253D4E;
  font-size: 14px;
}

#product .product-all .product-right .right-boxes .category li a img {
  max-width: 30px;
  margin-right: 15px;
}

#product .product-all .product-right .right-boxes .category li .count {
  display: inline-block;
  background-color: #BCE3C9;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 20px;
  margin-left: 5px;
  font-size: 12px;
  color: #253D4E;
}

#product .product-all .product-right .right-boxes .category li:hover {
  border: 1px solid #BCE3C9;
  -webkit-box-shadow: 5px 5px 15px #0000000d;
          box-shadow: 5px 5px 15px #0000000d;
}

#product .product-all .product-right .right-boxes .category li:hover a {
  color: #3BB77E;
}

#product .product-all .product-right .right-boxes .category li:last-child {
  margin: 0;
}

#product .product-all .product-right .right-boxes .fillter-price {
  font-family: 'Fredoka', sans-serif;
  font-size: 14px;
  background-image: url(../img/fillter-widget-bg.png);
  background-position: bottom right;
  background-size: 150px;
  background-repeat: no-repeat;
  padding: 30px;
  border: 1px solid #ececec;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px #0000000d;
          box-shadow: 5px 5px 15px #0000000d;
  margin: 30px 0;
}

#product .product-all .product-right .right-boxes .fillter-price h4 {
  font-family: 'Fredoka', sans-serif;
  font-size: 24px;
  color: #253D4E;
  font-weight: 700;
  padding: 0 0 20px 0;
  letter-spacing: 1px;
  border-bottom: 1px solid #ececec;
  position: relative;
  margin-bottom: 30px;
}

#product .product-all .product-right .right-boxes .fillter-price h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 2px;
  background-color: #BCE3C9;
}

#product .product-all .product-right .right-boxes .fillter-price .range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#product .product-all .product-right .right-boxes .fillter-price .values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

#product .product-all .product-right .right-boxes .fillter-price .values .value-text {
  color: #7E7E7E;
}

#product .product-all .product-right .right-boxes .fillter-price .values .value-text .value {
  color: #3BB77E;
}

#product .product-all .product-right .right-boxes .fillter-price .custom-checkbox {
  color: #7E7E7E;
}

#product .product-all .product-right .right-boxes .fillter-price .custom-checkbox .color {
  margin: 10px 0 0 0;
}

#product .product-all .product-right .right-boxes .fillter-price .custom-checkbox .inputs .check {
  margin: 10px;
}

#product .product-all .product-right .right-boxes .fillter-price .filterr-btn {
  display: inline-block;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 4px;
  color: #fff;
  background-color: #3BB77E;
  font-size: 12px;
  margin-top: 10px;
}

#product .product-all .product-right .right-boxes .fillter-price .filterr-btn i {
  font-size: 12px;
  margin-right: 10px;
  display: inline-block;
}

#product .product-all .product-right .right-boxes .new-prod {
  padding: 30px;
  border: 1px solid #ececec;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px #0000000d;
          box-shadow: 5px 5px 15px #0000000d;
  margin: 30px 0;
}

#product .product-all .product-right .right-boxes .new-prod .productss {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#product .product-all .product-right .right-boxes .new-prod .productss .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid #ececec;
}

#product .product-all .product-right .right-boxes .new-prod .productss .box .left {
  width: 35%;
  padding: 0 10px;
}

#product .product-all .product-right .right-boxes .new-prod .productss .box .left img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#product .product-all .product-right .right-boxes .new-prod .productss .box .right {
  margin-right: 20px;
  margin: 10px;
  width: 65%;
}

#product .product-all .product-right .right-boxes .new-prod .productss .box .right .name {
  font-size: 16px;
  font-family: 'Fredoka', sans-serif;
  color: #3BB77E;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#product .product-all .product-right .right-boxes .new-prod .productss .box .right .name:hover {
  color: #3BB77E;
}

#product .product-all .product-right .right-boxes .new-prod .productss .box .right .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product .product-all .product-right .right-boxes .new-prod .productss .box .right .icons i {
  font-size: 12px;
  color: #FDC040;
}

#product .product-all .product-right .right-boxes .new-prod .productss .box .right .icons span {
  font-size: 14px;
  margin-left: 10px;
  color: #7E7E7E;
}

#product .product-all .product-right .right-boxes .new-prod .productss .box .right .prices {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  margin: 7px 0 -5px;
}

#product .product-all .product-right .right-boxes .new-prod .productss .box .right .prices span {
  font-size: 18px;
  font-weight: 100;
  color: #253D4E;
}

#product .product-all .product-right .right-boxes .new-prod .productss .box:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#product .product-all .product-right .right-boxes .image {
  position: relative;
}

#product .product-all .product-right .right-boxes .image h4 {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #253D4E;
  position: absolute;
  top: 50%;
  left: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  letter-spacing: 0.5px;
}

#product .product-all .product-right .right-boxes .image h4 .org {
  color: #adadad;
  font-size: 13px;
}

#product .product-all .product-right .right-boxes .image h4 .text-brand {
  color: #3BB77E;
}

#product .product-all .product-right .right-boxes .image h4:hover {
  -webkit-transform: translateY(-53%);
          transform: translateY(-53%);
}

#product .product-all .product-right .right-boxes .image img {
  width: 100%;
}

#slider-2 {
  padding: 0 0 2rem 0;
}

#slider-2 .slider-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/banner-10.png);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 5rem;
  border-radius: 25px;
}

#slider-2 .slider-end img {
  position: absolute;
  right: 50px;
  bottom: 0;
  max-width: 40%;
}

#slider-2 .slider-end h2 {
  margin-bottom: 25px;
  font-size: 45px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  color: #253D4E;
  width: 40%;
}

#slider-2 .slider-end h5 {
  color: #7E7E7E;
  font-weight: 500;
  font-size: 18px;
}

#slider-2 .slider-end h5 span {
  color: #29A56C;
}

#slider-2 .slider-end form {
  background-color: #fff;
  max-width: 360px;
  border-radius: 50px;
  -webkit-box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.07);
          box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.07);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 15px;
  margin-top: 50px;
}

#slider-2 .slider-end form i {
  font-size: 20px;
  margin-right: 10px;
  color: #7E7E7E;
  margin-left: 25px;
}

#slider-2 .slider-end form .btn {
  background-color: #3BB77E;
  border-radius: 50px;
  padding: 17px 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#slider-2 .slider-end form .btn:hover {
  background-color: #29A56C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#best {
  font-family: 'Fredoka', sans-serif;
  padding-bottom: 3rem;
}

#best .all-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#best .all-box .box {
  background-color: #F4F6FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin: 0 15px;
  padding: 20px 15px;
  border-radius: 10px;
}

#best .all-box .box:hover .box-left img {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#best .all-box .box .box-left img {
  width: 80%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#best .all-box .box .box-right {
  margin-left: 10px;
}

#best .all-box .box .box-right h5 {
  color: #242438;
  font-size: 20px;
}

#best .all-box .box .box-right p {
  font-size: 15px;
  font-weight: 500;
  color: #B4ADAD;
}

#footer {
  font-family: 'Fredoka', sans-serif;
}

#footer .footer-top {
  border-bottom: 1px solid #3BB77E;
}

#footer .footer-top .all-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-top .all-box .box {
  width: 25%;
}

#footer .footer-top .all-box .box h2 {
  font-size: 25px;
  color: #253D4E;
  font-weight: 600;
}

#footer .footer-top .all-box .box ul li {
  margin-top: 10px;
}

#footer .footer-top .all-box .box ul li a {
  color: #535353;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .footer-top .all-box .box ul li a:hover {
  color: #29A56C;
  margin-left: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .footer-top .all-box .box .logo-title {
  font-size: 18px;
  margin: 15px 0 30px 0;
  color: #696969;
}

#footer .footer-top .all-box .box p {
  font-size: 15px;
  margin: 10px 0;
}

#footer .footer-top .all-box .box p img {
  margin-right: 5px;
}

#footer .footer-top .all-box .box-right {
  margin: 15px;
}

#footer .footer-top .install h2 {
  font-size: 30px;
  color: #253d4e;
  font-weight: 500;
}

#footer .footer-top .install p {
  margin: 20px 0 30px 0;
  color: #696969;
}

#footer .footer-top .install .app a {
  margin-right: 10px;
}

#footer .footer-top .install .app a img {
  width: 8rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .footer-top .install .app a img:hover {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .footer-top .install .app p {
  margin: 40px 0 20px 0;
}

#footer .footer-top .install .app img {
  margin-bottom: 50px;
}

#footer .footer-bottom {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-bottom .left p {
  color: #7E7E7E;
  font-size: 14px;
}

#footer .footer-bottom .left p span {
  color: #3BB77E;
  font-weight: 600;
}

#footer .footer-bottom .center {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-bottom .center .hotline {
  min-width: 200px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-bottom .center .hotline i {
  font-size: 30px;
  margin-right: 15px;
  color: #7E7E7E;
}

#footer .footer-bottom .center .hotline p {
  color: #3BB77E;
  font-size: 26px;
  font-weight: 700;
  display: block;
  line-height: 1;
}

#footer .footer-bottom .center .hotline p span {
  font-weight: 500;
  font-size: 12px;
  color: #7E7E7E;
  display: block;
}

#footer .footer-bottom .right .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-bottom .right .icon p {
  margin-right: 15px;
  color: #253D4E;
  font-size: 17px;
  font-weight: 600;
}

#footer .footer-bottom .right .icon i {
  padding: 10px;
  background-color: #29A56C;
  margin-right: 5px;
  color: #fff;
  border-radius: 50px;
  width: 35px;
}

#footer .footer-bottom .right p {
  font-size: 14px;
  color: #7E7E7E;
}

.NavFixed {
  position: fixed !important;
  width: 100% !important;
  top: 0;
  z-index: 9999;
}
/*# sourceMappingURL=product.css.map */